Repository transcom/mymove, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinyels, @Ryan-Koch, @esacteksab, @jacquelineIO, @LeDeep, @lynzt, @transcom/truss-db, @transcom/truss-design

Removed conversion to int/float as part of parsing for COPY statements
  pkg/migrate/Exec_test.go
  pkg/migrate/fixtures/copyFromStdinTypes.sql
  pkg/migrate/lineToValues.go
Owners: none

Update move info import paths
  src/pages/TXOMoveInfo.jsx
Owners: none

Fix linting errors
  src/pages/OfficeHome/OfficeHome.jsx
  src/pages/OfficeHome/index.jsx
  src/pages/SelectApplication/SelectApplication.jsx
  src/pages/SelectApplication/SelectApplication.test.jsx
Owners: none

approve storybook loki updates
  .loki/reference/chrome_iphone7_Components_TabNav_default.png
  .loki/reference/chrome_iphone7_Components_TabNav_withTag.png
  .loki/reference/chrome_laptop_Components_TabNav_default.png
  .loki/reference/chrome_laptop_Components_TabNav_withTag.png
Owners: @transcom/truss-design

update experimental path to p7b file
  config/env/experimental.app.env
Owners: none

try diff env again
  Dockerfile.tasks
  Dockerfile.tasks_local
  config/env/experimental.app.env
  config/env/experimental.post-file-to-gex.env
Owners: none

Revert "Bump github.com/spf13/afero from 1.2.2 to 1.3.0"
  go.mod
  go.sum
Owners: none

Revert "Removed conversion to int/float as part of parsing for COPY statements"
  pkg/migrate/Exec_test.go
  pkg/migrate/fixtures/copyFromStdinTypes.sql
  pkg/migrate/lineToValues.go
Owners: none

Revert "Bump github.com/markbates/goth from 1.64.1 to 1.64.2"
  go.mod
  go.sum
Owners: none

remove unnecessary sampleField in OrderDetailForm test
  src/components/Office/OrdersDetailForm.test.jsx
Owners: none

change USWDS unit to numeric 2
  src/components/Office/OrdersDetailForm.module.scss
Owners: none

add typeError message for date fields
  src/components/Office/OrdersDetailForm.jsx
Owners: none

indicate that pricing migration is fake data in the migration name
  migrations/app/migrations_manifest.txt
  migrations/app/secure/20200618142643_import_fake_pricing_data.up.sql
Owners: @transcom/truss-db

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only matches a later pattern, only those later code
# owners will be requested for a review.
# Add language specific code owners if it becomes relevant

# ADRs are architectural decisions records that should all be approved by all teams
/docs/adr/* @tinyels @Ryan-Koch @esacteksab @jacquelineIO @LeDeep @lynzt

# Docs about the database should be reviewed by people working on our database guidelines
/docs/database/* @transcom/truss-db

# Migrations are where database schema changes are made and we want them reviewed by people working on our database guidelines
/migrations/ @transcom/truss-db

# Storybook Stories are stored in this directory and should be reviewed by desgin
/src/stories/ @transcom/truss-design

# Storybook files that are co-located with component source code should be reviewed by design
*.stories.jsx @transcom/truss-design

# The reference, ie approved, images for Loki tests of Storybook Stories are stored in this directory and should be reviewed by desgin
/.loki/reference/ @transcom/truss-design
