Repository transcom/mymove, changes with the owners that .github/CODEOWNERS names for each.
All owners: @transcom/cacidatabaseteam, @transcom/cacibackendteam, @transcom/cacifrontendteam, @transcom/codeowners

add shipments button added but no tests or SC edits
  src/pages/Office/MoveDetails/MoveDetails.jsx
Owners: @transcom/cacifrontendteam

improved redux usage in GblocSwitcher Storybook
  src/components/Office/GblocSwitcher/GblocSwitcher.jsx
  src/components/Office/GblocSwitcher/GblocSwitcher.stories.jsx
Owners: @transcom/cacifrontendteam

fixed placement
  pkg/services/mto_service_item/mto_service_item_updater.go
Owners: @transcom/cacibackendteam

updated address styling
  src/components/form/AddressFields/AddressFields.jsx
  src/components/form/AddressFields/AddressFields.module.scss
Owners: @transcom/cacifrontendteam

updating functions and data
  .envrc
  migrations/app/schema/20241121205457_create_estimated_pricing_stored_proc_for_intl_shipments.up.sql
Owners: @transcom/cacidatabaseteam

adding call to shipment Go struct
  pkg/models/mto_shipments.go
Owners: @transcom/cacibackendteam

whoops
  .envrc
Owners: none

move fields under appropriate render condition
  src/components/form/AddressFields/AddressFields.jsx
Owners: @transcom/cacifrontendteam

B-21458 cleanup tests,
  pkg/notifications/move_counseled_test.go
  pkg/notifications/move_submitted_test.go
Owners: @transcom/cacibackendteam

updating comments, converting dollars to cents whoops
  migrations/app/schema/20241121205457_create_estimated_pricing_stored_proc_for_intl_shipments.up.sql
Owners: @transcom/cacidatabaseteam

moved SC financial review flag, css updates for TOO and SC to match views
  src/pages/Office/MoveDetails/MoveDetails.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.module.scss
Owners: @transcom/cacifrontendteam

add canvas binary build step to happo
  .github/workflows/happo-tests.yml
Owners: none

add canvas rebuild step to main happo
  .github/workflows/happo-tests-main.yml
Owners: none

test happo css change
  src/scenes/Moves/MoveType.css
Owners: @transcom/cacifrontendteam

add canvas binary build step to happo
  .github/workflows/happo-tests.yml
Owners: none

add canvas rebuild step to main happo
  .github/workflows/happo-tests-main.yml
Owners: none

Revert "test happo css change"
  src/scenes/Moves/MoveType.css
Owners: @transcom/cacifrontendteam

fix some tests but still failing placeholders
  src/pages/Office/MoveDetails/MoveDetails.jsx
  src/pages/Office/MoveDetails/MoveDetails.test.jsx
Owners: @transcom/cacifrontendteam

check for orders to make tests pass
  src/pages/Office/MoveDetails/MoveDetails.jsx
Owners: @transcom/cacifrontendteam

testing config to compare int PRs to int branch
  .github/workflows/happo-tests.yml
Owners: none

UI change for Happo to catch
  src/components/Office/GblocSwitcher/GblocSwitcher.stories.jsx
Owners: @transcom/cacifrontendteam

Adding logic tests to increase test coverage
  pkg/services/payment_request/payment_request_shipments_sit_balance_test.go
Owners: @transcom/cacibackendteam

B-21669 - minimal test for draft.
  pkg/gen/internalapi/embedded_spec.go
  pkg/handlers/internalapi/uploads_test.go
  swagger/internal.yaml
Owners: @transcom/cacibackendteam

undo change to envrc
  .envrc
Owners: none

storybook fixes, adding provider
  src/components/Customer/PPM/Booking/DateAndLocationForm/DateAndLocationForm.stories.jsx
  src/components/Customer/PPM/Closeout/AboutForm/AboutForm.stories.jsx
  src/components/DocumentViewer/DocumentViewer.stories.jsx
  src/components/Office/EditFacilityInfoModal/EditFacilityInfoModal.stories.jsx
  src/components/Office/StorageFacilityAddress/StorageFacilityAddress.stories.jsx
Owners: @transcom/cacifrontendteam

Changes alter allowances and authorized label for all applicable cases
  src/constants/MoveHistory/Database/FieldMappings.js
  src/constants/MoveHistory/EventTemplates/UpdateAllowances/updateAllowanceUpdateMTOShipment.jsx
Owners: @transcom/cacifrontendteam

style fix
  src/components/Office/RequestedShipments/ApprovedRequestedShipments.jsx
Owners: @transcom/cacifrontendteam

React tests for allowable to max billable weight changes
  src/constants/MoveHistory/EventTemplates/ApproveShipment/approveShipmentUpdateAllowances.test.jsx
  src/constants/MoveHistory/EventTemplates/CreateOrder/createOrderCreateEntitlements.test.jsx
  src/constants/MoveHistory/EventTemplates/CreateOrders/createEntitlements.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateAllowances/updateAllowance.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateAllowances/updateAllowanceByCounselor.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateAllowances/updateAllowanceUpdateMTOShipment.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateAllowances/updateAllowanceUpdateOrder.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateOrders/updateOrderUpdateAllowances.test.jsx
Owners: @transcom/cacifrontendteam

Added pricing update for estimated weight updates
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/mto_service_items_test.go
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/mto_shipment_test.go
  pkg/handlers/primeapiv2/api.go
  pkg/handlers/primeapiv3/api.go
  pkg/handlers/primeapiv3/mto_shipment.go
  pkg/handlers/primeapiv3/mto_shipment_test.go
  pkg/services/mocks/MTOServiceItemCreator.go
  pkg/services/mto_service_item.go
  pkg/services/mto_service_item/mto_service_item_creator.go
  pkg/services/orchestrators/shipment/shipment_updater.go
  pkg/services/orchestrators/shipment/shipment_updater_test.go
Owners: @transcom/cacibackendteam

Alternate solution for smaller change
  src/constants/MoveHistory/Database/FieldMappings.js
  src/constants/MoveHistory/EventTemplates/ApproveShipment/approveShipmentUpdateAllowances.test.jsx
  src/constants/MoveHistory/EventTemplates/CreateOrder/createOrderCreateEntitlements.test.jsx
  src/constants/MoveHistory/EventTemplates/CreateOrders/createEntitlements.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateAllowances/updateAllowance.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateAllowances/updateAllowanceByCounselor.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateAllowances/updateAllowanceUpdateMTOShipment.jsx
  src/constants/MoveHistory/EventTemplates/UpdateAllowances/updateAllowanceUpdateMTOShipment.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateAllowances/updateAllowanceUpdateOrder.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateOrders/updateOrderUpdateAllowances.test.jsx
Owners: @transcom/cacifrontendteam

Removing mto_shipment addresses from being ignored in audit history
  migrations/app/schema/20221129184114_redifine_audit_tables.up.sql
  pkg/services/shipment_address_update/shipment_address_update_requester.go
Owners: @transcom/cacidatabaseteam, @transcom/cacibackendteam

added hasDependents to 'order update by service conselor' api.
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/counseling_update_order_payload.go
  pkg/services/order/order_updater.go
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.jsx
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Owners: @transcom/cacibackendteam, @transcom/cacifrontendteam

Revert "B-21636 Update PPTAS LOA Fields"
  pkg/gen/pptasapi/embedded_spec.go
  pkg/gen/pptasmessages/p_p_t_a_s_report.go
  pkg/gen/pptasmessages/p_p_t_a_s_shipment.go
  pkg/services/pptas_report/pptas_report_list_fetcher.go
  swagger-def/definitions/PPTASReport.yaml
  swagger-def/definitions/PPTASShipment.yaml
  swagger/pptas.yaml
Owners: @transcom/cacibackendteam

initial entitlement refactor migration
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20241209121924_entitlements_refactor.up.sql
Owners: @transcom/cacidatabaseteam

initial models and tests for the entitlement refactor
  pkg/models/hhg_allowance.go
  pkg/models/hhg_allowance_test.go
  pkg/models/pay_grade.go
  pkg/models/pay_grade_test.go
Owners: @transcom/cacibackendteam

Revert "B 21636 int"
  pkg/services/pptas_report/pptas_report_list_fetcher.go
Owners: @transcom/cacibackendteam

Revert "INT-B-21636"
  pkg/gen/pptasapi/embedded_spec.go
  pkg/gen/pptasmessages/p_p_t_a_s_report.go
  pkg/gen/pptasmessages/p_p_t_a_s_shipment.go
  pkg/services/pptas_report/pptas_report_list_fetcher.go
  swagger-def/definitions/PPTASReport.yaml
  swagger-def/definitions/PPTASShipment.yaml
  swagger/pptas.yaml
Owners: @transcom/cacibackendteam

ci/cd fun
  .gitlab-ci.yml
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only matches a later pattern, only those later code
# owners will be requested for a review.
# Add language specific code owners if it becomes relevant

# database team
/migrations/ @transcom/cacidatabaseteam
/pkg/assets/sql_scripts/ @transcom/cacidatabaseteam

# backend team
/pkg/ @transcom/cacibackendteam
/swagger-def/ @transcom/cacibackendteam
*.go @transcom/cacibackendteam


# frontend team
/src/ @transcom/cacifrontendteam
/playwright/tests/ @transcom/cacifrontendteam


## not required for team specific review as prime UI is not deployed to production app
src/components/PrimeUI/
src/pages/PrimeUI/


# Require tech lead review for changes to the following files
.golangci.yml @transcom/codeowners
.pre-commit-config.yaml @transcom/codeowners
.eslintrc.js @transcom/codeowners
/eslint-plugin-ato/ @transcom/codeowners
/pkg/ato-linter/ @transcom/codeowners
/scripts/ @transcom/codeowners
/.circleci/config.yml @transcom/codeowners
/config/ @transcom/codeowners
Dockerfile* @transcom/codeowners
Brewfile* @transcom/codeowners
/Makefile @transcom/codeowners
package.json @transcom/codeowners
go.mod @transcom/codeowners
/github/ @transcom/codeowners
docker-compose* @transcom/codeowners
